// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(0, 109, 210);
$yellow: #FFC65A;
$green: #1EDD88;
$orange: #f96d00;
$black: #222831;
$gray: #1e2024;
$white: #F2F2F2;
