<div class="container-home">
  <div id="wrapper-home">
    <div class="logo-wrapper ">
      <%= image_tag "froglab_logo_2.png", class: "logo" %>
    </div>
    <div class="text-wrapper">
      <h1><span class="letter">f</span><span class="letter">r</span><span class="letter">o</span><span class="letter">g</span><span class="letter">l</span><span class="letter">a</span><span class="letter">b</span>
      </h1>
    </div>
  </div>
  <%= link_to 'Appuyer pour commencer...', communications_path, class: 'btn btn-outline-warning mt-5 p-3 rounded-pill' %>
</div>
