<div class="background-image">
  <%= cl_image_tag("industrial_bg1_on9pl3",
    crop: :fill,
    ) %>
</div>

  <%# <%= link_to "Hey Pilot, get ready to fly!", "#", class: "btn btn-warning btn-lg fs-2 rounded-pill border border-white border-2 fw-bold text-white" %>
