.orange-highlighted-button {

  background-color: $orange;
  color: $white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba($orange, 0.5);

  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: darken($orange, 10%);
    box-shadow: 0px 6px 8px rgba($orange, 0.7);
  }
}

.orange-highlighted-button-outlined {
  background-color: transparent;
  color: $orange;
  border: 2px solid $orange;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  box-shadow: none;

  transition: color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    color: #228B22;
    border-color: #228B22;
    box-shadow: 0px 3px 4px rgba(34, 139, 34, 0.7);
  }
}
