body {
  font-family: $body-font; // Applique "Prompt" pour le texte principal
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font; // Applique "Montserrat" pour les titres
}

.container-index {
  padding: 0; /* Supprime les marges internes */
  padding-bottom: 100px; /* Ajustez la valeur en fonction de la hauteur de la navbar */
}

.container-index .d-flex-ticket {
  padding: 10px; /* Ajuste l'espace interne des cartes */
  margin-bottom: 15px;
  background-color: $white;
  color: black;
}

.d-flex-ticket {
  border: 2px solid $orange; /* Épaisseur et couleur de la bordure */
  border-radius: 8px; /* Ajoute des coins arrondis */
  padding: 10px; /* Espacement interne */
  margin: 5px 0; /* Espacement entre les cartes */
  width: 100%;
}

.h-160 {
  height: 160px;
}

.card-product-infos {
  border-color: $orange;
  border-radius: 5px;
  color: $black;
  width: 100%;
}

.card-product-infos h2 {
  padding: 0; /* Supprime le padding */
  border-bottom: 2px solid $orange; /* Bordure orange */
  padding-bottom: 5px;
  display: -webkit-box;         /* Active le mode boîte flexible */
  -webkit-line-clamp: 2;        /* Limite à 2 lignes */
  -webkit-box-orient: vertical; /* Définit l'orientation verticale */
  overflow: hidden;             /* Masque le texte dépassant */
  text-overflow: ellipsis;      /* Ajoute "..." pour le texte tronqué */
  line-height: 1.2;             /* Ajuste l'espacement des lignes si nécessaire */
  text-decoration: none;
}

.card-product-infos p {
  margin: 3px;
  display: -webkit-box;       /* Active le comportement en boîte flexible */
  -webkit-line-clamp: 2;      /* Nombre maximum de lignes visibles */
  -webkit-box-orient: vertical; /* Définit l'orientation de la boîte */
  overflow: hidden;           /* Masque le texte qui dépasse */
  text-overflow: ellipsis;
  text-decoration: none;
}

a {
  text-decoration: none;
}

// .container {
//   margin: 1px; /* Supprime les marges externes */
//   padding: 0;
//   margin: auto; /* Supprime les marges internes */
//   padding-bottom: 50px;
// }

// .container .d-flex {
//   margin: 5px; /* Réduit l'espace entre les cartes */
//   padding: 0px; /* Ajuste l'espace interne des cartes */
// }

// .d-flex {
//   border: 2px solid $orange; /* Épaisseur et couleur de la bordure */
//   border-radius: 8px; /* Ajoute des coins arrondis */
//   padding: 10px; /* Espacement interne */
//   margin: 5px 0; /* Espacement entre les cartes */
// }

.btn-link {
  all: unset; /* Supprime tous les styles par défaut */
  display: block; /* Assure que le lien agit comme un bloc */
  text-decoration: none; /* Supprime les soulignements éventuels */
  color: $white; /* Hérite de la couleur parent */
}

.card-product-infos:hover {
  transform: scale(1.02); /* Légère mise en avant au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre */
}



// version 2 cards index

.card-index {
  overflow: hidden;
  height: 100px;
  background: $white;
  box-shadow: 3px 3px 0px rgba(249, 109, 0, 2);
  display: flex;
  align-items: center;
  margin-top: 16px;
  border-radius: 4px;

  img {
    height: 100px;
    width: 100px;
  }
}

.card-index-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 100%;
  box-sizing: border-box;
}

.card-index-infos h2 {
  padding-top: 3px;
  font-size: 16px;
  display: -webkit-box;         /* Active le mode boîte flexible */
  -webkit-line-clamp: 2;        /* Limite à 2 lignes */
  -webkit-box-orient: vertical; /* Définit l'orientation verticale */
  overflow: hidden;             /* Masque le texte dépassant */
  text-overflow: ellipsis;      /* Ajoute "..." pour le texte tronqué */
  color: $black;
  margin: 0;
  line-height: 1.2;
}

.card-index-nouveau,
.card-index-encours,
.card-index-resolu {
  font-weight: bold;
  color: $white;
  padding: 0.2em 0.7em; /* Même logique pour garder une taille homogène */
  margin: 0.1em;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
}

.card-index-nouveau {
  background-color: rgb(172, 172, 172);
}

.card-index-encours {
  background-color: rgb(0, 109, 210);
}

.card-index-resolu {
  background-color: green;
}

.index-manager {
  font-size: 14px;
  color: $gray;
  display: inline;
}
