.card-action {
  overflow: hidden;
  height: 100px;
  background: $white;
  box-shadow: 3px 3px 0px rgba(249, 109, 0, 2);
  display: flex;
  align-items: center;
  margin-top: 12px;
  border-radius: 4px;
}

.card-action-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

.card-action-infos h2 {
  font-family: $headers-font;
  font-size: 16px;
  color: $black;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1.2;
  border-bottom: 2px solid $orange;
  padding-bottom: 3px;
  min-height: 40px;
}

.card-action-inline {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}

.card-action-infos p {
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.4;
  color: $gray;
  margin: 0;
  padding-top: 2px;
}

.card-stat-act {
  font-size: 14px;
}
