.navbar-lewagon {
  justify-content: space-between;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $white;
}

.nav-tabs{
  border-color: $orange
}

.nav-tabs .nav-link.active {
  color: $orange;
  border-color: $orange;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

// .footer-bottom {
//   padding-bottom: 10px;
// }

.ticket-index-p-font{
  font-size: 14px ;
}
