// classes pour form new ticket
#new-ticket-layout {
  h1 {
    color: $black;
  }
  margin-top: 20%;
}


#photos-buttons {
  width: 100%;
}

.new-form {
  color: #000000;
  background-color: $white;
  border-radius: 4px;
  .form-control {
    background-color: $white;
    color: #808080;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// classes pour form new comment

.comment-form {
  display: flex;
}

.comment-submit {
  width: 65px;
  height: 65px;
  font-size: 24px;
  border: solid 1px #dadcdf;
  border-radius: 0px 2px 2px 0px;
}

#comment-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}
