.logo-container {
  text-align: center;
  margin-bottom: 5px;
}

.logo {
  width: 37px; /* Ajustez selon vos besoins */
  height: 37px;
  margin-right: 5px;
}

.font-navbar {
  font-family: $body-font;
  font-size: 20px;
  color: $white;
}

.search-button {
  width: 50px;
}

.navbar{
  position: sticky ;
  top: -2px;
}
