.logo-container {
  text-align: center;
  margin-bottom: 5px;
}

.logo {
  width: 37px; /* Ajustez selon vos besoins */
  height: 37px;
}

.font-navbar {
  font-family: $body-font;
  font-size: 25px;
  color: $white;
}

.search-button {
  width: 70px;
}

.navbar{
  position: sticky ;
  top: -2px;
}

.search-bar{
  width: 200px ;
  padding-left: 10px;
}
